/* Common styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.common-btn {
  background-color: #1D4ED8;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: bolder;
}

.common-container {
  margin: 20px 8%;
}

.common-center {
  text-align: center;
}

.common-card-style {
  border-radius: 10px;
  box-shadow: 0 0 0 1px #E5E7EB;
}

.common-pointer {
  cursor: pointer;
}


/* Header-section */

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

nav ul a {
  text-decoration: none;
  color: #575757;
}


/* hero-section */

.hero-banner-container {
  min-height: 110vh;
  text-align: center;
  color: white;
  background-image:
    linear-gradient(to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 70%),
    linear-gradient(to bottom left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 42%,
      rgba(0, 0, 0, .88) 87%),

    url("./assets/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-banner-container h1 {
  font-size: 65px;
  padding-top: 150px;
  line-height: 30px;
}

.hero-banner-container p {
  font-size: 18px;
  padding: 40px 26%;
}

.banner-btn {
  margin-top: 250px;
  margin-bottom: 60px;
  font-size: 22px;
  padding: 15px 50px;
}


/*Meet the Speakers Section */

.speakers-section {
  margin-top: 80px;
}

.speakers-section h2 {
  font-size: 50px;
}

.speaker-card-cotainer {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.speaker-card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.speaker-card-content {
  padding: 20px;
  line-height: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.speaker-role {
  color: #2563EB;
  font-size: 12px;
  font-weight: 600;
}

.speaker-name {
  color: #0D1B2A;
  font-size: 20px;
  font-weight: bolder;
}

.speaker-workplace {
  color: #575757;
  font-size: 14px;
}


/* Pricing Section */

.pricing-section {
  margin-top: 140px;
  margin-bottom: 70px;
  padding: 40px 4%;
}

.pricing-section h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.pricing-section-subtitle {
  font-size: 14px;
  color: #575757;
  margin-bottom: 30px;
}

.pricing-card-container {
  padding: 20px;
  gap: 20px;
  display: flex;
}

.pricing-card {
  flex: 1;
  padding: 32px;
  font-size: 13px;
}

.pro-card {
  background-color: #0D1B2A;
}

.card-type {
  font-size: 12px;
  color: #797878;
  font-weight: 500;
  margin-bottom: 6px;
}

.pro-card .card-type {
  color: #93C5FD;
}

.card-price {
  font-size: 36px;
  margin-bottom: 3px;
}

.pro-card .card-price {
  color: white;
}

.card-person-number {
  font-size: 12px;
  color: #797878;
  padding-bottom: 18px;
  box-shadow: 0 1px 0 0 #E5E7EB;
}

.pro-card .card-person-number {
  color: #FFFFFF50;
  box-shadow: 0 1px 0 0 #FFFFFF10;
}

.pricing-card ul {
  padding-top: 18px;
  list-style-position: inside;
  line-height: 1.5rem;
  color: #333333;
}

.pricing-card ul li::marker {
  color: #2563EB;
}

.pro-card ul li {
  color: #FFFFFF80;
}

.pricing-btn {
  width: 100%;
  margin-top: 20px;
}

.pricing-standard-btn {

  color: #1D4ED8;
  background-color: white;
  border: 1px solid #1D4ED8;
}

.pricing-pro-btn {
  background-color: #1D4ED8;
  color: white;
  border: 1px solid #1D4ED8;

}

.pricing-team-btn {
  color: #0D1B2A;
  background-color: white;
  border: 1px solid #0D1B2A;
}


/* Footer Section */

.footer-section {
  background-color: #0D1B2A;
  padding: 50px 8%;
}

.logo-icon-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.icon-style {
  color: white;
  margin-left: 10px;
}

.copyright-info-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  gap: 20px;
  color: #FFFFFF40;
}

.privecy-terms {
  display: flex;
  gap: 20px;
}