/* Common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.common-btn {
  background-color: #1D4ED8;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 30px;
  cursor: pointer;
}

.common-container {
  margin: 20px 8%;
}


/* Header-section */

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

nav ul a {
  text-decoration: none;
  color: #575757;
}


/* hero-section */

.hero-banner-container {
  min-height: 110vh;
  text-align: center;
  color: white;
  background-image:
    linear-gradient(to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 70%),
    linear-gradient(to bottom left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 42%,
      rgba(0, 0, 0, .88) 87%),

    url("./assets/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-banner-container h1 {
  font-size: 65px;
  padding-top: 150px;
  line-height: 30px;
}

.hero-banner-container p {
  font-size: 18px;
  padding: 40px 26%;
}

.banner-btn {
  margin-top: 250px;
  margin-bottom: 60px;
  font-size: 22px;
  padding: 15px 50px;
}


/*Meet the Speakers Section */

.speakers-section {
  margin-top: 80px;
}

.speakers-section h2{
  font-size: 45px;
  text-align: center;
}

.speaker-card-cotainer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.speaker-card {
  border-radius: 10px;
  box-shadow: 0 0 0 1px #E5E7EB;
}

.speaker-card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.speaker-card-content {
  padding: 20px;
  line-height: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.speaker-role{
  color: #2563EB;
  font-size: 12px;
  font-weight: 600;
}
.speaker-name{
  color: #0D1B2A;
  font-size: 20px;
  font-weight: bolder;
}
.speaker-workplace{
  color: #575757;
  font-size: 14px;
}
